<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="body-background">
    {{>header}}
    <p class="des-para limit-width">For any help you can email at <span style="text-transform: none;">aayushsood84@gmail.com</span> </h1> 
    {{>footer}}
    </div>
</body>

</html>